body{
    background-image:linear-gradient(to left , black,#fff 50%,black);
    display:flex;
    
}
  .container {
    background-color: Lavender;
    border-radius: 15px;
    box-shadow: 18px 5px 5px Indigo;
    margin: 24px auto;
    
    
  }
  .container_btn{
    width: 50px;
    height: 50px;
    margin-top:30px;
    
  }
  .container_btn img{
    border: 2px solid #ffff;
  }

  .header_title {
    font-family: 'Vollkorn', serif;
    font-size: 5em;
    color: gold;
    text-align: center;
    text-shadow:1px 2px 2px black;
  }
  aside{
    color: rgb(229, 223, 234);
    padding: 10px;
    background-color: blueviolet;
    box-shadow: 2px 1px 2px 2px #fefefe;

  }
  button{
    color: #1b1818;
    background-color: gold;
    border-radius: 4%;
    text-decoration:underline;
    position: fixed;
    top: 10px;
    left:70px;
    cursor:pointer;
  }
   
  
  .header_subtitle {
    font-family: 'Vollkorn', serif;
    font-size: 2.2em;
    color: YellowGreen;
    text-align: center;
  }
  .thumbnail .center-block{
    margin-right:auto;
    margin-left: auto;
    border: 4px solid #fefefe;
    display: inline-block;
    line-height:0;
    max-width:80%;
    margin-bottom: 1rem;
    
  }
  .text-center{
    text-align: center;
  }
  
  .image {
    padding: 10px;
    width:70%;
    height:60%;
    margin:auto;
    display:flex;
  }
  
  .thumbnail {
    border-radius: 10px;
    box-shadow: 8px 5px 5px gray;
    font-family: 'Nova Script', cursive;
    transition:box-shadow 0.2s;
  }
  .thumbnail:hover{
    box-shadow: 8px 5px 5px rgb(214, 30, 150);
  }
  .events-title {
    font-family: 'Vollkorn', serif;
    font-size: 2.5em;
    margin: 42px;
    text-align: center;
  }
  ul.events-list li strong{
    display: inline-flex;
  }
  
  .quote {
    font-style: italic;
    font-family: 'Nova Script', cursive;
    margin: 24px;
    font-size: 2em;
  }
  
  .more-info {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    margin: 22px;
  }
  ul {
    display: inline-block;
    text-align:left;
    transition-property: text-shadow;
    font-family: 'Dosis', sans-serif;
  }
  
  .footer {
    font-family: 'Nova Script', cursive;
  }

  @media(max-width:432px) {

    aside {
      display:block;
      width:50%;
      height:auto;
      margin-right:20px;
    }

    aside img{
      display:block;
      max-width:80%;
      height:auto;
    }
    .header_title{
      font-size:50px;
    }
    .header_subtitle {
      font-size:19px;
      padding-top: 10px;
    }
     li {
      font-size:14px;
    }
   .container img {
     width:100%;
     margin-right:40px;
     height:auto;
     display:flex;
     
   }
   .container .text-center{
    font-size:16px;
   }


   button {
    display:block;
    margin-right:40px;
    overflow: hidden;
    cursor:pointer;
    
   }
    .container {
      width:auto;
      height:40%;
      margin-top: 40px;
      margin-right:60px;
      padding: 10px 10px;
  }
  .events-title{
    font-size: 20px;
    font-weight: bold;
  }
 
  .events{
    width:auto;
    height:auto;
    font-size:10px;
    margin-right:20px;
  }

  }
